*,
*::after,
*::before{
box-sizing: border-box;
}
ul, ol {
    list-style-type: none;
    text-align: center;
    margin:0;
    padding-left: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}
    img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}
.container{
    width:1158px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: #434455;
    font-size: 16px;
    background-color: #FFFFFF;
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6, p {
    margin:0;
}

header {
    color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}
.container-header{
    display: flex;
    align-items: center;
}

header .logo-web {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.header-links{
    display: flex;
    gap: 24px;
}

header .logo-studio {
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

address {
    font-style: normal;
    
}
.container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation{
display: flex;
flex-direction: row;
align-items: center;
}

.navigation .studio-link {
    display: block;
    padding: 24px 0;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navigation .studio-link:hover {
    color: #404BBF;
}

.navigation .studio-link:focus {
    color: #404bbf;
}

.navigation .studio-link:active {
    color: #404BBF;
    text-decoration: underline;
}

.navigation .portfolio-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    display: flex;
    
}

.navigation .portfolio-link:hover {
    color: #404BBF;
}

.navigation .contacts-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    display: flex;
}

.navigation .contacts-link:hover {
    color: #404BBF;
}
.address{
    margin-left: auto;
}
.address-list{
    display: flex;
    gap: 40px;
}
.email-address {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.email-address:focus, .email-address:hover {
    color: #404bbf;
}


.phone-number {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.section-first {
    background-color: #2E2F42;
    padding-bottom: 188px;
}
.container-first{
    width: 1440px;
}

.big-title {
    display: block;
    max-width: 497px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    padding-top: 188px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.button {
    display: block;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4D5AE5;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 56px;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.section-second{
    padding: 120px 0;
}
.section-second ul{
    display: flex;
    gap: 24px;
    flex-direction: row;
}

.list-benefits{
}
.punkt{
    width: calc((100%-(3*24)px)/ 4);
}
.title-second {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.benefits {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align:left;
    margin-bottom: 8px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.section-three {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.one-member {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 264px;
    align-items:center;
}
.one-member img{
    width: 100%;
    height:auto;
    display: flex;
}
.port-list li{
    flex-basis: 360px;
}    
.port-list{
    background-color: white;
}

.introduction {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.introduction-two{
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    margin-left: 639px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    padding-top: 120px;

}
.team-members{
    display: flex;
    gap:24px;
    margin-top:72px;
    margin-left:156px;
}
.their-name {
    font-size: 20px;
    font-weight: 500;
    color: #2E2F42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top:32px;
    margin-bottom:8px;
}

.their-job {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom:32px;

}
.section-four{
    display: flex;
    flex-direction: column;
}
.list-portfolio{
    display: flex;
    flex-direction: row;
    margin-left: 156px;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.types-portfolio{
    margin-top:72px ;
    margin-right: 24px;
    flex-shrink: 0;
}
.their-name-port{
    display: flex;
    padding-top: 32px;
    justify-content: flex-start;
}
.their-descrip{
    display: flex;
    padding-top: 8px;
    padding-bottom:32px;
}

.footer-page {
    background-color: #2E2F42;
    display: flex;
    flex-direction: column;
}

.footer-web {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-top:100px;
    margin-bottom:16px;
    margin-left: 156px;
}


.footer-studio {
    color: #F4F4FD;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.17;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    display: flex;
        margin-left: 156px;
}
.footer-text{
    justify-content: left;
    width: 264px;
}