*,
*::after,
*::before{
    box-sizing: border-box;
}
ul, ol {
    list-style-type: none;
    text-align: center;
    margin:0;
        padding-left: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}
    img {
            display: block;
            max-width: 100%;
                object-fit: cover;
}
.container{
    width:100%;
    margin:0;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: #434455;
    font-size: 16px;
    background-color: #FFFFFF;
    margin:0;
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6, p {
    margin:0;
}

header {
    color: #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}
header,footer{
    display: flex;
    flex-direction: row;
}

header .logo-web {
    display: flex;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left:156px;
    margin-right: 76px;
    margin-top:24px;
    margin-bottom:24px;
}
.header-links{
    display: flex;
    padding-right:332px ;
    margin-top: 24px;
        margin-bottom: 24px;
}
.header-links li{
    margin-right: 40px;
}

header .logo-studio {
    color: #2E2F42;
    ;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

address {
    font-style: normal;
    
}
.container-header{
    display: flex;
        flex-direction: row;
}
.navigation{
display: flex;
flex-direction: row;
}

.navigation .studio-link {
    display: flex;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navigation .studio-link:hover {
    color: #404BBF;
}

.navigation .studio-link:focus {
    color: #404bbf;
}

.navigation .studio-link:active {
    color: #404BBF;
    text-decoration: underline;
}

.navigation .portfolio-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    display: flex;
    
}

.navigation .portfolio-link:hover {
    color: #404BBF;
}

.navigation .contacts-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    display: flex;
}

.navigation .contacts-link:hover {
    color: #404BBF;
}
.address{
    display: flex;
    flex-direction: row;
}
.address ul{
    display: flex;
    flex-direction: row;
    margin-top: 24px;
        margin-bottom: 24px;
}
.address li{
        margin-left: 40px;
}
.email-address {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.email-address:focus {
    color: #404bbf;
}


.phone-number {
    display: flex;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-left:40px;
}

.email-address:hover {
    color: #404BBF;
}

.phone-number:hover {
    color: #404BBF;
}

.section-first {
    background-color: #2E2F42;
    display:flex;
    flex-direction: column;
}

.big-title {
    display: block;
    height: 120px;
    width: 497px;
    margin-top: 188px;
    margin-left:470px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.button {

    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 56px;
    width:169px;
    margin-left:636px;
    margin-top:48px;
    margin-bottom:188px;


}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.section-second ul{
        flex-direction: row;
}
.section-second li{
        flex-direction: row;

}
.list-benefits{
    display: flex;
    margin-left:156px;
    margin-right: 156px;
}
.punkt{
    flex-basis:264px;
    margin-left: 24px;
    margin-top:120px ;
    margin-bottom: 120px;
}
.title-second {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.benefits {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align:left;
    margin-bottom: 8px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.section-three {
    background-color: #F4F4FD;
    padding-top: 120px;
    
}

.one-member {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 264px;
    align-items:center;
}
.one-member img{
    width: 100%;
    height:auto;
}

.introduction {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    margin-left: 639px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
}
.introduction-two{
    text-transform: capitalize;
        font-size: 36px;
        font-weight: 700;
        margin-left: 639px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2E2F42;
        font-family: 'Roboto', sans-serif;
            padding-top: 120px;

}
.team-members{
    display: flex;
    margin-top:72px;
        margin-left:156px;
        gap:24px;
}
.their-name {
    font-size: 20px;
    font-weight: 500;
    color: #2E2F42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top:32px;
    margin-bottom:8px;
}

.their-job {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom:32px;

}
.section-four{
    display: flex;
        flex-direction: column;
}
.list-portfolio{
    display: flex;
}

.footer-page {
    background-color: #2E2F42;
}

.footer-web {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.footer-studio {
    color: #F4F4FD;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.17;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
}